.swiper-container {
    width: 100%;
    height: 400px;
}

.swiper-pagination{
	left: 50%;
	padding-top: 15px;
    margin-left: -52px;

	.swiper-pagination-bullet{
		margin-right: 5px;
	}
	.swiper-pagination-bullet-active{
		background: $default-golden;
	}
}