$wrapper-border-color:#b9b8b8;
$wrapper-shadow:-1px 0px 10px 6px rgba(0,0,0,0.25);
$footer-shadow:-1px 4px 10px 6px rgba(0,0,0,0.25);
$content-shadow:0px -6px 18px 0px rgba(0,0,0,0.5);
$header-wrapper-shadow:inset 0px 0px 20px 0px rgba(0,0,0,0.75);
$active-shadow:inset 1px 4px 15px 2px rgba(0, 0, 0, 0.57);
$card-border-color:#f0f0f0;
$card-holder-background:rgba(255,255,255,0.75);
$section-heading-background:#f0f0f0;
$section-heading-border:1px solid #d1d1d1;
$special-yellow:#FFC800;
$special-orange:#FD7600;
$default-golden:#9A7D31;