@import "_variables";
@import "mixin/_box-shadow";
@import "mixin/_slide-transition";
@import "mixin/_vendor-prefix";
@import "bootstrap";
@import "_global";
@import "_reset";
@import "_hero-menu";
@import "header";
@import "carousel";
@import "home";
@import "gallery";

.wrapper{
	background: #fafaeb;
	border-left: 1px solid $wrapper-border-color;
	border-right: 1px solid $wrapper-border-color;
	@include box-shadow($wrapper-shadow);
}

.wrapper-header{
	/*background: url('../images/img7.jpg') no-repeat;
	background-size: 100% auto;
	height: 350px;*/
	
}