html {
    font-size: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    margin: 0;
}

h1 {
    border-bottom: 5px double #212121;
    font-size: 2rem;
}


/* 
h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
} */

.col-12 {
    flex: 0 0 100%;
}

.col-6 {
    flex: 0 0 50%;
}

.col-3 {
    flex: 0 0 25%;
}

p {
    text-align: justify;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

ul {
    list-style: none;
}

.logo {
    width: 70%;
    max-height: 100px;
}

.nav-bar {
    background-color: #212121;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 1rem;
    position: absolute;
    width: 25%;
    height: 100%;
    transition: left 300ms ease-in;
    left: -25%;
    z-index: 2;
}

.nav-bar.show {
    left: 0;
}

ul.nav {
    color: #FFFFFF;
    font-size: 1.4rem;
    padding: 0;
    width: 100%;
}

ul.nav li {
    border-bottom: 1px solid #FFFFFF;
}

ul.nav li:last-child {
    border-bottom: none;
}

ul.nav li a {
    display: block;
    padding: 1.5rem;
}

ul.nav li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.content {
    flex: 0 0 100%;
    font-size: 1.4rem;
    padding: 1.5rem;
    position: relative;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.menu-toggle {
    color: #212121;
    font-size: 4rem;
    position: absolute;
    left: 10px;
    top: 5px;
    transition: left 300ms ease-in;
    z-index: 10;
}

.menu-toggle.close-icon {
    left: 26%;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}